﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="DynamicPage.aspx.cs" Inherits="VphWeb4.DynamicPage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <h2>
       Welcome to the VphShare Datasets Page Loader!
    </h2>
    <br />  
    <asp:GridView ID="GridView1" HeaderStyle-BackColor="#7DB4D3" HeaderStyle-ForeColor="White"
    RowStyle-BackColor="#E2EBF0" AlternatingRowStyle-BackColor="White" AlternatingRowStyle-ForeColor="#000" runat="server">
    </asp:GridView>  
    <br />
    <asp:Button ID="Button1" runat="server" onclick="Button1_Click" Text="Reset" 
        Width="115px" />
    <br />
    <br />
    <asp:Label ID="Label1" runat="server"></asp:Label>
</asp:Content>
